body {
  background-color: #f9f9f9;
  color: #282a2e;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: 600;
}
.paradriver {
  color: #f3c200;
}
.button {
  margin-left: 0.5em;
  background-color: #171717;
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  border: 1px solid #000;
}
.knob {
  margin-top: 0.4em;
  background-color: #171717;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  border: 1px solid #000;
  position: relative;
}
.knob_container {
  display: flex;
}
.les_paul .knob_label {
  color: #002212;
}
.fender_strat .knob_label {
  color: #6a6447;
}
.pedal {
  border: 2px solid transparent;
  margin-right: 2em;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 0.6em;
}
.option_label {
  font-size: 0.7em;
}
.option {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.option + .option {
  margin-left: 1em;
}
.option_container {
  width: 100%;
  margin-top: 1em;
  margin-left: 0.5em;
  display: flex;
}
.option_indicator {
  height: 6px;
  width: 6px;
  border-radius: 100%;
}
.indicator {
  width: 3px;
  background-color: #f3c200;
  top: 0;
  height: 14px;
  position: absolute;
}
.effect {
  margin: 0 0.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.box {
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); */
  background-color: #282a2e;
  padding: 1.5em 1em;
  border-radius: 8px;
  display: inline-block;
}
.knob_label {
  font-size: 0.8em;
  text-transform: uppercase;
}
h2,
h3 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 0.25em;
  color: #282a2e;
}
h2 {
  background-color: #4980ee;
  padding: 1em;
  font-size: 0.7em;
  margin-top: 1em;
  color: #fff;
  margin-bottom: 0;
}
h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.8em;
  color: #282a2e;
}
