* {
  box-sizing: border-box;
}
body {
  background-color: #f9f9f9;
  color: #282a2e;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: 600;
}

.w-full {
  width: 100%;
}
.hidden {
  display: none;
}
.button {
  cursor: pointer;
  margin-left: 0.5em;
  background-color: #171717;
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  border: 1px solid #000;
}
.effect {
  margin: 0 0.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.indicator {
  width: 3px;
  background-color: #f3c200;
  top: 0;
  height: 14px;
  position: absolute;
}
.knob {
  margin-top: 0.4em;
  background-color: #171717;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  border: 1px solid #000;
  position: relative;
  cursor: pointer;
}
.value_input:focus-visible {
  outline: none;
}
.value_input {
  padding: 0.25em 0.5em;
  font-size: 1em;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid transparent;
  outline: none;
  max-width: 100px;
}
form {
  display: flex;
}
.btn {
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0.5em 1em;
  background-color: #26b096;
  color: #fff;
}
.mini_form_close_btn {
  /*border: 1px solid #fff;*/
  border-radius: 3px;
  font-size: 1.75em;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.25em;
  cursor: pointer;
  margin: 0.5em;
}
.mini_form_container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1em;
  z-index: 10;
}
.mini_form_container.hidden {
  display: none;
}
.show_form .mini_form {
  display: block;
}
.knob_container {
  display: flex;
}
.knob_container + .knob_container {
  margin-top: 1em;
}
.knob_label {
  font-size: 0.8em;
  text-transform: uppercase;
}
.menu {
  overflow-y: auto;
  top: 0;
  position: fixed;
  bottom: 0;
  width: 240px;
  background-color: #fff;
  border-right: 2px solid #333;
  padding: 0.5em;
  z-index: 5;
  transition: margin 0.3s;
  margin-left: -240px;
}
.show_menu .menu {
  margin-left: 0;
}
.pickup_selector input[type="range"] {
  -webkit-appearance: none;
  width: 120px;
  height: 2px;
  border-radius: 5px;
  background-repeat: no-repeat;
}
.pickup_selector input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}
.pickup_selector input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.menu_btn {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  border: 1px solid #ccc;
  padding: 0.5em;
  opacity: 0.7;
  margin: 8px;
  background-color: #fff;
  border-radius: 3px;
}
.menu ul {
  margin-top: 0.5em;
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
}
.menu ul li {
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  padding: 0.5em;
  background-color: #eee;
  border-radius: 3px;
  margin: 0.25em 0;
  white-space: nowrap;
}
.menu li a {
  color: #555;
  text-decoration: none;
}
.option + .option {
  margin-left: 1em;
}
.option {
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.option_container {
  width: 100%;
  margin-top: 1em;
  margin-left: 0.5em;
  display: flex;
}
.pickup_container {
  margin: 1em auto 0;
}
.pickup_selector_btn {
  height: 18px;
  width: 18px;
  position: absolute;
  top: -9px;
  border-radius: 18px;
  border: 1px solid #000;
}
.pickup_range {
  height: 2px;
  width: 100px;
  background-color: #6a6447;
}
.option_indicator {
  height: 6px;
  width: 6px;
  border-radius: 100%;
}
.option_label {
  cursor: pointer;
  font-size: 0.7em;
  text-transform: uppercase;
}
.pickup_selector {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin-top: 0.25em;
}
.pickup_selector > div {
  position: relative;
}
/*.paradriver {
  color: #f3c200;
}*/
.pedal {
  border: 2px solid transparent;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 0.6em;
}
.pedal_container {
  margin-right: 1em;
}
.pedal_missing {
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 0.6em;
  margin-bottom: 1em;
}
.pedal_name {
  margin: 0;
  /* margin-top: 0.5em; */
  /* margin-bottom: 0.5em; */
  font-size: 0.8em;
  color: #282a2e;
}
.setup_container {
  margin: 1em;
  border: 2px solid #333;
  border-radius: 4px;
}
.setup_name h3 {
  margin: 0;
  font-size: 0.9em;
}
#add_pedal_form {
  width: 100%;
  margin-top: 1em;
}
#add_pedal_form select {
  width: 100%;
}
select {
  padding: 0.5em 0.5em;
  border: none;
  border-radius: 3px;
  background-color: #fff;
}
.setup_name {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  color: #fff;
  background-color: #333;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 0.25em;
}
@media (min-width: 568px) {
  .setup_name {
    display: flex;
  }
  .setup_name h3 {
    font-size: 1.1em;
  }
  #add_pedal_form {
    margin-top: 0;
  }
}
.wah_outer {
  border-top: 180px solid #cecece;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-radius: 12px;
  height: 0;
  position: relative;
  width: 80px;
}
.wah_outer span {
  font-size: 2em;
  color: #fff;
  text-orientation: upright;
  position: absolute;
  bottom: 32px;
  left: 9px;
  z-index: 3;
  writing-mode: tb;
}
.wah_inner {
  position: absolute;
  border-top: 160px solid #000;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-radius: 4px;
  bottom: 10px;
  left: -4px;
  height: 0;
  width: 72px;
}
h1 {
  text-align: center;
  color: #333;
  font-size: 1.1em;
  margin: 1em 0;
}
.create_new_preset_container {
  margin-top: 2.5em;
}
.create_new_preset_container form {
  display: flex;
  width: 100%;
}
.create_new_preset_container input {
  width: 162px;
}
.new_preset_btn {
  margin-left: 0.5em;
  white-space: nowrap;
  background-color: #fff;
  color: #079255;
  border-color: #079255;
  border-radius: 3px;
}

.notes_container {
  margin-top: 1em;
  width: 100%;
}

.notes {
  background-color: #fff;
  border: 1px solid #09aacbb5;
  padding: 0.75em;
  color: #000;
  border-radius: 0.5em;
  width: 100%;
  font-family: sans-serif;
  font-size: 0.7em;
  width: 100%;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5em;
  background-color: #eaa41d;
  color: #fff;
  border-radius: 0 0 0 0.5em;
  font-size: 0.8em;
  font-weight: lighter;
}
